{{ define "main" }}

<div class="biography-section">
<!-- Profile Image and Social Links -->
<div class="profile-container">
    <div class="profile-image-container">
    <img src="{{ .Params.image }}" alt="Profile Image" class="profile-image">
    </div>
    <div class="social-links">
        {{ if .Params.twitter }}<a href="{{ .Params.twitter }}"><i class="fa-brands fa-square-x-twitter"></i></a>{{ end }}
        {{ if .Params.linkedin }}<a href="{{ .Params.linkedin }}"><i class="fab fa-linkedin"></i></a>{{ end }}
        {{ if .Params.github }}<a href="{{ .Params.github }}"><i class="fab fa-github"></i></a>{{ end }}
        {{ if .Params.facebook }}<a href="{{ .Params.facebook }}"><i class="fab fa-facebook"></i></a>{{ end }}
        {{ if .Params.resume }}<a href="{{ .Params.resume }}"><i class="fa-solid fa-file-pdf"></i></a>{{ end }}
    </div>
</div>

<!-- Biography -->
<div class="info-row">
    <h2>{{ .Params.title }}</h2>
    <p>{{ .Params.biography }}</p>
    <!-- Description -->
    <p class="description">{{ .Params.description }}</p>
</div>

<!-- Skills and Education -->
<div class="additional-info">
    <div class="skills">
        <h3>Skills</h3>
        <ul class="skills-list">
        {{ range .Params.skills }}
        <li>
            <div class="skills-indicator" style="--percentage: {{ .percentage }}">
                <span class="percentage-label">{{.percentage}}</span>
            </div>
            <div class="skills-content">{{ .name }}</div>
        </li>
        {{ end }}
        </ul>
    </div>

    <div class="education">
        <h3>Education</h3>
        <ul class="education-list">
        {{ range .Params.education }}
        <li>
            <i class="fas fa-graduation-cap education-icon"></i>
            <div class="education-content">
            <div class="course">{{ .course }}</div>
            <div class="university">{{ .university }}</div>
            <div class="years">{{ .years }}</div>
            </div>
        </li>
        {{ end }}
        </ul>
    </div>
</div>

{{ if .Params.experience }}
<div class="info-row">
<h3 class="experience-title">Experience</h3>
<div class="experience-timeline">
    {{ range $index, $element := .Params.experience }}
    <div class="experience-item {{ if eq $index 0 }}first-item{{ else if eq $index (sub (len $.Params.experience) 1) }}last-item{{ end }}">
    <div class="timeline-dot"></div>
    <div class="experience-card">
        <img src="{{ .logo }}" alt="Experience Logo" class="experience-logo">
        <div class="experience-details">
        <h4>{{ .institute }}</h4>
        <p class="role">{{ .role }}</p>
        <p class="time-location">
            <span class="duration">{{ .duration }}</span>, 
            <span class="location">{{ .location }}</span>
        </p>
        </div>
    </div>
    </div>
    {{ end }}
</div>
</div>
{{ end }}

{{ if .Params.qualification }}
<div class="info-row">
    <h3 class="qualification-title">Qualification</h3>
    {{ range .Params.qualification }}
    <div class="qualification-item">
        <p><strong>{{ .name }}</strong>{{ if .link }} [<u><font color=#87808b size="4"><a href="{{ .link }}">link</a></font></u>]{{ end }}</p>
        <p>{{ .institute }}</p>
        <p>{{ .date }}</p>
        {{ if .number }}<p><font color=#87808b size="4">No. {{ .number }}</font></p>{{ end }}
    </div>
    {{ end }}
</div>
{{ end }}

<!-- {{ if .Params.publication }}
<div class="info-row">
    <h3 class="publication-title">Publications</h3>
    {{ range $pub := .Params.publication }}
    <div class="publication-item">
        <p>
            {{ $boldAuthor := $pub.bold }}
            {{ range $index, $author := $pub.authors }}
                {{ if eq $author $boldAuthor }}<strong>{{ $author }}</strong>{{ else }}{{ $author }}{{ end }}
                {{ if lt $index (sub (len $pub.authors) 1) }}, {{ end }}
            {{ end }}
            , "{{ $pub.title }}", <i>{{ $pub.conference }}</i>, {{ $pub.date }}
        </p>
    </div>
    {{ end }}
</div>
{{ end }} -->

{{ if .Params.slide }}
<div class="info-row">
    <h3 class="slide-title">Slides</h3>
    {{ range .Params.slide }}
    <div class="slide-item">
        <p>
            <u><a href="{{ .slidelink }}">{{ .title }}</a></u>
        </p>
        {{ if .eventlink }}
        <p class="event-details">
            <font size="2">@</font><u><a href="{{ .eventlink }}">{{ .event }}</a></u>
        </p>
        {{ else }}
        <p class="event-details">
            <font size="2">@</font>{{ .event }}
        </p>
        {{ end }}
    </div>
    {{ end }}
{{ end }}


{{ end }}
