figure.centered-figure {
    text-align: center;
    margin: 0px 0;
}

figure.centered-figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

figure.centered-figure figcaption {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
    font-weight: normal;
    color: #000000;
    font-size: 0.9em;
    max-width: 100%;
}

.tile-images {
    display: grid;
    grid-gap: 0px 5px;
}
.tile-image img {
    max-width: 100%;
    height: auto;
}

/* Dark */
body.dark figure.centered-figure figcaption {
    color: #ffffff;
}

body.dark .tile-image img {
    filter: brightness(0.8);
}
