.cite-block {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}

body.dark .cite-block {
    background-color: #2e2e33;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}

.cite-block ul {
    margin-bottom: 0.8em;
}

.cite-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cite-list li {
    margin-bottom: 12px;
    display: flex;
    align-items: start;
}

.cite-title {
    font-weight: bold;
    color: #333;
    margin-right: 15px;
    flex-shrink: 0;
    width: 110px;
}

.cite-content {
    color: #333;
    flex-grow: 1;
}

body.dark .cite-title {
    color: #ccc;
}

body.dark .cite-content {
    color: #ccc;
}
