/* static/css/links.css */
.links-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 10px;
}

.link-item {
    text-align: center;
    border: none;
}

.link-item.hidden {
    visibility: hidden;
}

.link-item i {
    font-size: 48px;
}

.link-item p {
    margin-top: 8px;
}

.post-content .link-item a,
.post-content .link-item a:hover {
    box-shadow: none;
}
