{{ define "main" }}
  <h1 class="pubdate-page-title">記事で紹介した論文の出版年</h1>
  {{ $pages := where .Site.RegularPages "Params.pubdate" "!=" nil }}
  {{ $sortedPages := $pages.ByParam "pubdate" }}
  {{ $reversedPages := slice }}
  {{ range $sortedPages }}
    {{ $tmp := slice . }}
    {{ $reversedPages = $tmp | append $reversedPages }}
  {{ end }}

  {{ $currentYear := "" }}
  {{ range $reversedPages }}
    {{ $year := dateFormat "2006" .Params.pubdate }}
    {{ if ne $year $currentYear }}
      {{ if $currentYear }}
        </section> <!-- Close previous year section -->
      {{ end }}
      <section>
        <h2 class="year-header" style="margin-bottom: 10px;">{{ $year }}</h2>
      {{ end }}
      <article class="pubdate-article-block">
        <span class="pubdate-small">{{ dateFormat "01/02" .Params.pubdate }}</span>
        <h3 style="margin-bottom: 5px;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <div class="pubdate-tag-container">
          <p>
            {{ range .Params.tags }}
              <span class="pubdate-tag-block">{{ . }}</span>
            {{ end }}
          </p>
        </div>
      </article>
      {{ $currentYear = $year }}
  {{ end }}
  </section> <!-- Close last year section -->
{{ end }}
