<div class="experience-section">
    <h3 class="experience-title">Experience</h3>
    {{ range .Page.Params.experience }}
    <div class="experience-card">
        <img src="{{ .logo }}" alt="Company Logo" class="company-logo">
        <div class="experience-details">
        <h4>{{ .company }}</h4>
        <p class="role">{{ .role }}</p>
        <p class="time-location">
            <span class="duration">{{ .duration }}</span>, 
            <span class="location">{{ .location }}</span>
        </p>
        </div>
    </div>
    {{ end }}
</div>
